extends layout

block content
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/js/chat.js")
    script.
        var data = {
            user: '#{userName}'
        };
    
    .container
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapse(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") user name: #{userName}
                .collapse.navbar-collapse
                    form#msg-form.navbar-form.navbar-left
                        .form-group
                            input#m.form-control(type="text", cols="50", placeholder="Input message")
                        button#post.btn.btn-default(type="button" onclick="postMessage();") Send
                                    
    .container
        .row
            ul#messages
