doctype html
html
    head
        meta(chatset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
                    
        title chat example
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
        script(type="text/javascript", src="/js/jquery-2.1.1.min.js")
        script(type="text/javascript", src="/js/bootstrap.min.js")
    body
        block content
