// layout.jade
doctype html
html
    head
        meta(chatset="utf-8")
        title chat example
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
    body
        block content
