extends layout

block content
    .container
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="/") chat-example
                .collapse.navbar-collapse
                    form.navbar-form.navbar-left(action="room", method="post")
                        .form-group
                            input#userName.form-control(type="text", name="userName", placeholder="Input user name ...")
                        button.btn.btn-default(type="submit") Login
