body {
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar {
    margin-bottom: 20px;
}

.who {
    font-weight: bold;
}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
